<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
        
    <!-- Load Angular.js library first -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
    <!-- Load custom scripts after Angular.js -->
    <script src="app.js"></script>
</head>
<body ng-controller="BlogController">

    <h1>Simple Blog</h1>
    
    
    <h2>Create new Post</h2>
    <form ng-submit="createPost()">
        <input type="text" ng-model="newPost.title" placeholder="Title" required>
        <input type="text" ng-model="newPost.content" placeholder="Content" required>
        <input type="text" ng-model="newPost.author" placeholder="Author">
        <button type="submit">Create Post</button>
    </form>

    <h2>Posts</h2>
    <div ng-repeat="post in posts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <small>{{ post.author }} - {{ post.created_at }}</small><br>
      </div>
</body>
</html>